<h1>Bienvenidos</h1>


<div class="jumbotron">
  <h1>Artistas y Albumes</h1>
  <p>Registra a tus artistas favoritos con sus mejores exitos</p>
  <p><a class="btn btn-primary btn-lg" href="/nuevoArtista" role="button">Nuevo Artista</a> 
  <a class="btn btn-primary btn-lg" href="/nuevoAlbum" role="button">Nuevo Album</a> </p>
</div>
